{% extends "base.html" %} {% block content %}
<form
  hx-post="/names"
  hx-target="#result"
  hx-swap="innerHTML"
  hx-indicator="#loading"
  style="display: flex; gap: 2rem; width: 100%"
>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>🐼<br />Játékmesterkedik</th>
        <th>🦁 Főni</th>
        <th>🥚 Pakol oda</th>
        <th>🦇 Pakol vissza</th>
      </tr>
    </thead>
    <tbody>
      {% for name in names %}
      <tr>
        <td>
          <label for="jm-{{ name }}">{{ name }}</label>
        </td>
        <td>
          <input
            type="checkbox"
            name="jm"
            id="jm-{{ name }}"
            value="{{ name }}"
          />
        </td>
        <td>
          <input type="checkbox" name="boss" value="{{ name }}" />
        </td>
        <td>
          <input type="checkbox" name="to" value="{{ name }}" />
        </td>
        <td>
          <input type="checkbox" name="from" value="{{ name }}" />
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <fieldset>
    <legend>Beállítások</legend>

    <div>
      <label for="event-date" class="required">Esemény dátuma</label>
      <input type="date" name="event-date" id="event-date" required />
    </div>

    <div>
      <label for="gm-count" class="required">Hány játékmester kell az eseményre?</label>
      <input type="number" name="gm-count" id="gm-count" min="1" required />
    </div>

    <div>
      <label for="game-min-count" class="required"
        >Legalább hány játékot tudjunk vinni? (Egy hétfői eseményre pl. minimum 85 játék)</label
      >
      <input
        type="number"
        name="game-min-count"
        id="game-min-count"
        min="1"
        value="85"
        required
      />
    </div>

    <div>
      <label for="threshold-percent" class="required"
        >A kiválasztott játékmesterek legalább hány %-a tudja mindegyik játékot?
        (alapért. 57%)</label
      >
      <input
        type="number"
        name="threshold-percent"
        id="threshold-percent"
        min="0"
        max="100"
        value="57"
        required
      />
    </div>

    <div>
      <label for="min_gm_carries_to_count">
        Legalább hány odafele pakoló legyen a kiválasztott játékmesterek között?
      </label>
      <input
        type="number"
        name="min_gm_carries_to_count"
        id="min_gm_carries_to_count"
        min="0"
      />
    </div>

    <div>
      <label for="min_gm_carries_from_count">
        Legalább hány visszafelé pakoló legyen a kiválasztott játékmesterek
        között?
      </label>
      <input
        type="number"
        name="min_gm_carries_from_count"
        id="min_gm_carries_from_count"
        min="0"
      />
    </div>

    <div>
      <label for="must-have-boss"
        >Legyen mindenképp egy főni a kiválasztott játékmesterek között?</label
      >
      <input type="checkbox" name="must-have-boss" id="must-have-boss" />
    </div>

    <p>
      Újabb futattás előtt be kell írni a választott csapatot a beo-s
      táblázatba. Az eredmények felett látni fogod a legfrissebb betöltött
      beosztásokat, érdemes ellenőrizni, hogy betöltötte-e a legújabbat.
    </p>
    <button>Számolj!</button>
    <p id="loading" class="htmx-indicator">Töltés...</p>
  </fieldset>
</form>
<div id="result"></div>

<style>
  .required::after {
    content:" *";
    color: red;
  }
</style>
{% endblock %}
