{% extends "base.html" %} {% block content %}
    <form
            hx-post="/names"
            hx-target="#result"
            hx-swap="innerHTML"
            hx-indicator="#loading"
            style="display: flex; gap: 4rem;"
    >
        <table>
            <thead>
            <tr>
                <th></th>
                <th>🐼<br/>Játékmesterkedik</th>
                <th>🦁 Főni</th>
                <th>🥚 Pakol oda</th>
                <th>🦇 Pakol vissza</th>
            </tr>
            </thead>
            <tbody>
            {% for name in names %}
                <tr>
                    <td>
                        <label for="jm-{{ name }}">{{ name }}</label>
                    </td>
                    <td>
                        <input type="checkbox" name="jm" id="jm-{{ name }}" value="{{ name }}"/>
                    </td>
                    <td>
                        <input type="checkbox" name="boss" value="{{ name }}"/>
                    </td>
                    <td>
                        <input type="checkbox" name="to" value="{{ name }}"/>
                    </td>
                    <td>
                        <input type="checkbox" name="from" value="{{ name }}"/>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <fieldset>
            <legend>Beállítások</legend>
            <!-- <div>
              <label for="foniNemJm"
                >Van olyan, aki úgy jelentkezett főninek, hogy nem
                játékmesterkedik?</label
              >
              <input type="checkbox" name="foniNemJm" id="foniNemJm" />
            </div> -->

            <div>
                <label for="must-have-boss"
                >Legyen mindenképp egy főni a kiválasztott játékmesterek között?</label
                >
                <input type="checkbox" name="must-have-boss" id="must-have-boss"/>
            </div>

            <div>
                <label for="threshold-percent"
                >A kiválasztott játékmesterek hány %-a tudja legalább mindegyik játékot?
                    (alapért. 57%)</label
                >
                <input
                        type="number"
                        name="threshold-percent"
                        id="threshold-percent"
                        min="0"
                        max="100"
                        value="57"
                        required
                />
            </div>

            <div>
                <label for="gm-count">Hány játékmester kell az eseményre?</label>
                <input type="number" name="gm-count" id="gm-count" min="1" required/>
            </div>

            <div>
                <label for="game-min-count"
                >Legalább hány játékot tudjunk vinni? (alapért. 85)</label
                >
                <input
                        type="number"
                        name="game-min-count"
                        id="game-min-count"
                        min="1"
                        value="85"
                        required
                />
            </div>

            <div>
                <label for="event-date">Esemény dátuma</label>
                <input type="date" name="event-date" id="event-date" required/>
            </div>
            <button>Submit</button>
            <p id="loading" class="htmx-indicator">Loading...</p>
        </fieldset>

    </form>
    <div id="result"></div>

    <style>
        tr:hover {
            background-color: ghostwhite;
        }

        table {
            table-layout: auto;
        }

        td > input {
            margin: auto 0;
        }
    </style>
{% endblock %}
